# Dependencies
node_modules
.pnp
.pnp.js

# Build
build
.docusaurus
.cache-loader

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~
